@{
    ViewBag.Title = "Regional Marketing Services";
    Layout = "~/Views/Shared/_LayoutAGD.cshtml";
}
<div class="slider-wrap">
    <div id="slider1" class="csw">
        <div class="panelContainer">
            <div class="panel">
                <div class="wrapper">
                    <h2>
                        Somos sus aliados en turismo</h2>
                    <img class="left png" src="@Url.Content("~/Content/agd/images/hand.png")" alt="" width="288" height="165" style="border: 2px solid #CCC;" />
                    <p>
                        Te organizamos desde unas vacaciones, excursiones y viajes a destinos paradisiacos,
                        hasta la organización de tus eventos de negocios, lanzamientos y presentaciones.
                        <br />
                        <br />
                        Sólo contactanos a traves de promocionesrm@regionalmarketing.com.ve</p>
                </div>
            </div>
            <div class="panel">
                <div class="wrapper">
                    <h2>
                        Los mejores paquetes te esperan</h2>
                    <img class="left png" src="@Url.Content("~/Content/agd/images/packages.png")" alt="" width="288" height="158" />
                    <p>
                        Hemos preparado para tu comodidad, los más selectos destinos para que esas vacaciones
                        sean lo más placenteras y no tengas que preocuparte por nada más que disfrutar.</p>
                    <br />
                    <p class="slider_links">
                        <a href="@Url.Action("Trips", "Home")">Ver más </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<center>
    <h3 style="margin: 40px 0px 10px 0px">
        ¡Disfruta de los mejores paquetes!</h3>
</center>
<div style="padding: 0px 60px 0px 60px">
    <div id="coverflow" style="position:relative; width:100%; height:316px; border:2px solid #ababab padding:5px;">
        <img src="@Url.Content("~/Content/Paquetes/Nacionales/margarita5.JPG")"  width="200" height="300"  alt="" class="popup" />
        <img src="@Url.Content("~/Content/Paquetes/Nacionales/margaritanav2.JPG")"  width="200" height="300"  alt="" class="popup" />
        <img src="@Url.Content("~/Content/Paquetes/Nacionales/margaritanav.JPG")"  width="200" height="300"  alt="" class="popup" />
        <img src="@Url.Content("~/Content/Paquetes/Nacionales/margaritat.JPG")"  width="200" height="300"  alt="" class="popup" />
        <img src="@Url.Content("~/Content/Paquetes/Nacionales/margaritabaja.JPG")"  width="200" height="300"  alt="" class="popup" />
        @*<img src="@Url.Content("~/Content/Paquetes/Internacionales/aruba.JPG")"  width="200" height="300"  alt="" class="popup" />
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/slide1.JPG")"  width="200" height="300"  alt="" class="popup" />*@
        <img src="@Url.Content("~/Content/Paquetes/Internacionales/bariloche.PNG")"  width="200" height="300"  alt="" class="popup" />
        <img src="@Url.Content("~/Content/Paquetes/Internacionales/cancun.JPG")"  width="200" height="300"  alt="" class="popup" />
        <img src="@Url.Content("~/Content/Paquetes/Internacionales/cancun.PNG")"  width="200" height="300"  alt="" class="popup" />
        @* <img src="@Url.Content("~/Content/Paquetes/Internacionales/cartagena.JPG")"  width="200" height="300"  alt="" class="popup" />*@
        <img src="@Url.Content("~/Content/Paquetes/Internacionales/puntacana.JPG")"  width="200" height="300"  alt="" class="popup" />
        <img src="@Url.Content("~/Content/Paquetes/Internacionales/puntacana.PNG")"  width="200" height="300"  alt="" class="popup" />
        <img src="@Url.Content("~/Content/Paquetes/Internacionales/slide2.JPG")"  width="200" height="300"  alt="" class="popup" />
    </div>
</div>
<div id="content">
    <div class="services left">
        <h3>
            Te ofrecemos</h3>
        <ul class="service_list">
            <li>Destinos Nacionales</li>
            <li>Destinos Internacionales</li>
            <li>Organización de Eventos</li>
            <li>Nam euismod arcu sit amet.</li>
            <li>Donec condimentum consequat.</li>
        </ul>
        <a class="more" href="@Url.Action("About", "Home")">ver más... </a>
    </div>
    <div class="blog left">
        <h3>
            Dónde estamos</h3>
        <ul>
            <li>Centro Comercial Ciudad Tamanaco, 1era. Etapa, Piso 3, Oficina 303, Chuao, Caracas,
                Venezuela. </li>
            <li><strong>Teléfonos: </strong>+58 212 9593217 / 9598283 / 3253617 / 3253618 / 3253619</li>
            <li><strong>Email</strong><br />
                promocionesrm@regionalmarketing.com.ve</li>
        </ul>
    </div>
    <div class="clients left">
        <h3>
            Aliados</h3>
        <ul>
            <li><a href="#">
                <img src="@Url.Content("~/Content/agd/images/envato.jpg")" width="200" height="74" alt="" /></a></li>
            <li><a href="#">
                <img src="@Url.Content("~/Content/agd/images/psdtuts.jpg")" width="200" height="60" alt="" /></a></li>
            <li><a href="#">
                <img src="@Url.Content("~/Content/agd/images/themeforest.jpg")" width="200" height="76" alt="" /></a></li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#coverflow').smoothDivScroll({
            mousewheelScrolling: "allDirections",
            manualContinuousScrolling: true,
            autoScrollingMode: "onStart"
        });
    });
</script>
