@{
    ViewBag.Title = "Paquetes - Regional Marketing Services";
    Layout = "~/Views/Shared/_LayoutAGD.cshtml";
}
<div class="banner clear">
    <h2 class="current_page right">Paquetes
    </h2>
    <em class="tagline left">¡Los mejores destinos esperan por ti!</em>
</div>
<div id="content">
    <div id="portfolio">
        <div class="thumbnails">
            <h3 class="portfolio_title">Paquetes Nacionales</h3>
             <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Nacionales/Slide9.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Margarita - Carnavales 2013</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Nacionales/Slide3.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Margarita - Semana Santa 2013</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Nacionales/Slide4.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Margarita - Semana Santa 2013</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>
             <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Nacionales/Slide10.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Margarita - Aliados</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="thumbnails">
            <h3 class="portfolio_title">Paquetes Internacionales</h3>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Internacionales/Slide1.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Aruba: Carnaval 2013</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Internacionales/Slide2.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Aruba: Carnaval 2013</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Internacionales/Slide5.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Curacao: Carnaval 2013</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Internacionales/Slide6.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Punta Cana: Carnaval 2013</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Paquetes/Internacionales/Slide7.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">Brasil: Carnavales 2013</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
