@{
    ViewBag.Title = "Paquetes - Regional Marketing Services";
    Layout = "~/Views/Shared/_LayoutAGD.cshtml";
}
<div class="banner clear">
    <h2 class="current_page right">
        Paquetes
    </h2>
    <em class="tagline left">¡Los mejores destinos esperan por ti!</em></div>
<div id="content">
    <div id="portfolio">
        <div class="thumbnails">
            <h3 class="portfolio_title">
                Margarita</h3>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Nacionales/margarita5.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        PreCompras Navideñas</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Nacionales/margaritanav2.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        Navidad y Año Nuevo</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Nacionales/margaritanav.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        Navidad, Año nuevo y Reyes</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Nacionales/margaritat.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        Margarita para Todos</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Nacionales/margaritabaja.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        Temporada Baja</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
        </div>
        <div class="thumbnails">
            <h3 class="portfolio_title">
                Paquetes Internacionales</h3>
            @*            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/aruba.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color:#fff">
                        Aruba: Año Nuevo</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/slide1.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color:#fff">
                        Aruba: Navidad - Año Nuevo - Reyes</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>*@
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/bariloche.PNG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        Argentina: Navidad - Año Nuevo</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/cancun.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        México: Navidad - Año Nuevo - Reyes</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/cancun.PNG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        México: Navidad - Año Nuevo - Reyes</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            @*            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/cartagena.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color:#fff">
                        Colombia: Navidad - Año Nuevo - Reyes</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>*@
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/puntacana.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        Punta Cana: Nav. - Año Nuevo - Reyes</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/puntacana.PNG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        Punta Cana: Nav. - Año Nuevo - Reyes</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
            <div class="boxgrid captionfull">
                <img src="@Url.Content("~/Content/Paquetes/Internacionales/slide2.JPG")"  width="250" height="200"  alt="" class="popup" />
                <div class="cover boxcaption">
                    <h3 style="font-size: small; margin: 8px auto; text-align: center; color: #fff">
                        Punta Cana: Nav. - Año Nuevo - Reyes</h3>
                    <p>
                        <a href="project.html">details</a> | <a href="#">visit</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
