<div class="top_header">
    <h1 class="left png">
        <a href="@Url.Action("Start", "Home")">Regional Marketing Services</a></h1>
    <ul class="navigation right">
        <li class="current"><a href="@Url.Action("Start", "Home")">home</a></li>
        <li><a href="@Url.Action("About", "Home")">about us</a></li>
        <li><a href="@Url.Action("Trips", "Home")portfolio.html">portfolio</a></li>
        <li><a href="@Url.Action("News", "Home")">blog</a></li>
        <li><a href="@Url.Action("Contact", "Home")">contact us</a></li>
    </ul>
</div>
