<div style="margin-right: 15px;">
    <div id="accordion">
        @*<h3>
            <a href="#">Inicio</a></h3>
        <div>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Clientes</a></li>
            </ul>
        </div>*@
        <h3>
            <a href="#">Hoteles</a></h3>
        <div>
            <ul>
                <li><a href="@Url.Action("Index", "Hotel")">Listado</a></li>
            </ul>
        </div>
        <h3>
            <a href="#">Reservaciones</a></h3>
        <div>
            <ul>
                <li><a href="@Url.Action("Index", "Reservation")">Crear</a></li>
                <li><a href="@Url.Action("Index", "Customer")">Clientes</a></li>
            </ul>
        </div>
        <h3>
            <a href="#">Configuración</a></h3>
        <div>
            <ul>
                <li><a href="@Url.Action("Register", "Account")">Crear Usuario</a></li>
                <li><a href="@Url.Action("ChangePassword", "Account")">Cambiar contraseña</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#accordion").accordion({ collapsible: true, active: false });
        });
    </script>
</div>
