@{
    var contenidos = new RMS.Models.RegionalEntities();
    bool root = Session["root"] != null ? true : false;
}
<div style="margin-right: 15px;">
    <div class="urbangreymenu">
        <h3 class="headerbar" style="margin: 0; background-color: #2f2e2e">
            <a href="@Url.Action("Dashboard", "Budget")">Dashboard</a></h3>
        <h3 class="headerbar">Resevaciones</h3>
        <ul>
            <li><a href="@Url.Action("Index", "Budget")">Listado</a></li>
            <li><a href="@Url.Action("Index", "Customer")">Clientes</a></li>
        </ul>
        <h3 class="headerbar">Hoteles</h3>
        <ul>
            <li><a href="@Url.Action("Index", "Hotel")">Listado</a></li>
            <li><a href="@Url.Action("Index", "RoomBed")">Tipos de Camas</a></li>
        </ul>
        <h3 class="headerbar">Reportes</h3>
        <ul>
            <li><a href="@Url.Action("Index", "Report")">Tarifas</a></li>
        </ul>
        @if (root)
        {
            <h3 class="headerbar">Herramientas</h3>
            <ul>
                <li><a href="@Url.Action("Index", "Account")">Listado de Usuarios</a></li>
                <li><a href="@Url.Action("Register", "Account")">Crear Usuario</a></li>
                <li><a href="@Url.Action("ChangePassword", "Account")">Contraseña</a></li>
            </ul>
        }
        <h3 class="headerbar">Página Web</h3>
        <ul>

            @foreach (var item in contenidos.ContentType.ToList())
            {
                <li><a href="@Url.Action("Index", "Content", new { Id = item.Id })">@item.Name</a></li>    
            }


        </ul>
    </div>
</div>
