@model RMS.Models.Room
@{
    ViewBag.Title = "Details";
}
<h2>
    Detalles de la habitación en @Model.Hotel.Name</h2>
<fieldset>
    <legend>Habitación</legend>
    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Active)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Capacity)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacity)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.LowSeasonPrice)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LowSeasonPrice)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.HighSeasonPrice)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HighSeasonPrice)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Discount1)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount1)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Discount2)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount2)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Discount3)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount3)
    </div>
    @*    <div class="display-label">Discount4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount4)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index", new { IdHotel = Model.IdHotel })
</p>
