@model RMS.Models.Content

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Content</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Intro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Intro)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country.Country1)
    </div>

    <div class="display-label">ContentType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentType.Name)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">Featured</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Featured)
    </div>

    <div class="display-label">Timestamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Timestamp)
    </div>

    <div class="display-label">TimestampEdit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimestampEdit)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
