@model RMS.Models.ReservationModel
@{
    ViewBag.Title = "Create";
    IEnumerable<RMS.Models.Customer> __customer = ViewBag.Customer as IEnumerable<RMS.Models.Customer>;
}
<ul id="crumbs">
    <li><a href="@Url.Action("Index")">Reservaciones</a></li>
    <li>Crear Reservación</li>
</ul>
<h1>
    Crear Reservación</h1>
<br />
<br />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<form id="formulario" action="@Url.Action("Create")" method="post">
@if (ViewBag.Error != null)
{
    <h3 class="red">@ViewBag.Error</h3>
}
@Html.ValidationSummary(true)
<fieldset style="border: none;">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div class="numberCircle">
                    1</div>
            </td>
            <td style="padding: 10px">
                <h2 style="margin: 0px; padding: 0px;">
                    Datos del cliente</h2>
            </td>
        </tr>
    </table>
    <div class="editor-label">
        Cliente
    </div>
    <div class="editor-field">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="middle">
                    <select name="Trip.IdCustomer" id="Trip_IdCustomer">
                        <option></option>
                        @foreach (var item in __customer)
                        {
                            <option value="@item.Id">(@item.PersonalId) @item.Name @item.LastName</option>    
                        }
                    </select>
                </td>
                <td valign="middle">
                    &nbsp;&nbsp;&nbsp; <a href="@Url.Action("Create", "Customer", new { redirect = true })">
                        Crear Nuevo</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="editor-label">
        Fecha de Llegada
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Trip.Arrival, new { @class = "datepicker" })
        @Html.ValidationMessageFor(model => model.Trip.Arrival)
    </div>
    <div class="editor-label">
        Fecha de Salida
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Trip.Departure, new { @class = "datepicker" })
        @Html.ValidationMessageFor(model => model.Trip.Departure)
    </div>
    <div class="editor-label">
        Tipo:
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Trip.IdReservationStatus, (SelectList)ViewBag.ReservationStatus)
        @Html.ValidationMessageFor(model => model.Trip.IdReservationStatus)
    </div>
    <div class="editor-label">
        % Descuento a aplicar
    </div>
    <div class="editor-field">
        @Html.TextBox("Trip.Discount")
        <br />
        <span style="font-size: 9pt">(Si quiere aplicar el por defecto, deje el campo vacío)</span>
    </div>
    <div class="editor-label">
        % G. Admon.
    </div>
    <div class="editor-field">
        @Html.TextBox("Trip.PercentAdmin")
        <br />
        <span style="font-size: 9pt">(Si quiere aplicar el por defecto, deje el campo vacío)</span>
    </div>
    <div class="editor-label">
        % Agente
    </div>
    <div class="editor-field">
        @Html.TextBox("Trip.PercentAgent")
        <br />
        <span style="font-size: 9pt">(Si quiere aplicar el por defecto, deje el campo vacío)</span>
    </div>
    <div class="editor-label">
        Fecha Límite de Pago
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Trip.PayLimit, new { @class = "datepicker" })
        @Html.ValidationMessageFor(model => model.Trip.Departure)
    </div>
    <br />
    <br />
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div class="numberCircle">
                    2</div>
            </td>
            <td style="padding: 10px">
                <h2 style="margin: 0px; padding: 0px;">
                    Selección del Hotel</h2>
            </td>
        </tr>
    </table>
    <div class="editor-label">
        Hotel
    </div>
    <div class="editor-field">
        <select id="ddlhotel" name="hotel">
            <option value="0"></option>
            @foreach (RMS.Models.Hotel item in (IEnumerable<RMS.Models.Hotel>)ViewBag.Hotels)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="editor-field" id="habitaciones">
    </div>
    <p id="paso2">
        <input type="button" value="Calcular" id="calcule" style="display: none;" />
    </p>
    <div id="ajax">
    </div>
</fieldset>
</form>
<div>
    @Html.ActionLink("Volver al Listado", "Index")
</div>
<script type="text/javascript">
               
    $("#Trip_IdCustomer").ufd({ useUiCss: true, log: false });
    $(".datepicker").datepicker();
//    $(".flight").chancge(function(){
//         var today = new Date();
//         var tomorrow = new Date();
//         tomorrow.setDate(today.getDate()+1);
//    });
    $("#ddlhotel").change(function () {
        var arrival = $("#Trip_Arrival");
        var departure = $("#Trip_Departure");

        $("#ajax").html("");

        if(arrival.val().length > 0 && departure.val().length > 0)
        {
            $("#habitaciones").html("<table><tr><td><img src='@Url.Content("~/Content/img/103.gif")'></img></td><td style='padding: 10px'>Cargando...</td></tr></table>");
            $.get('@Url.Action("PartialHabitaciones")', { IdHotel: $(this).val(), Arrival: arrival.val(), Departure: departure.val() }, function (data) {
                $("#habitaciones").html(data);
            });
             $("#calcule").fadeIn();
             
        }
        else
        {
            $("#habitaciones").html("<h3 class='red'>Debe indicar las fechas de llegada y salida.");
        }
    });

    $("#calcule").click(function (e) {
        e.preventDefault();
        $("#ajax").html("<table><tr><td><img src='@Url.Content("~/Content/img/103.gif")'></img></td><td style='padding: 10px'>Cargando...</td></tr></table>");
        $.post('@Url.Action("PartialPresupuesto")', $("#formulario").serialize(), function (data) {
            $("#ajax").html(data);
            $("#save").show();
             $.scrollTo("#paso3", 3000);
        });
    });
</script>
