@model RMS.Models.Reservation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Reservation</legend>

    <div class="display-label">Customer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>

    <div class="display-label">Arrival</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Arrival)
    </div>

    <div class="display-label">Departure</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Departure)
    </div>

    <div class="display-label">ReservationDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReservationDate)
    </div>

    <div class="display-label">Adults</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adults)
    </div>

    <div class="display-label">Childrens</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Childrens)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">ReservationStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReservationStatus.Name)
    </div>

    <div class="display-label">Discount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount)
    </div>

    <div class="display-label">PercentAdmin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PercentAdmin)
    </div>

    <div class="display-label">PercentAgent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PercentAgent)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
