@model RMS.Models.Reservation
<br />
<br />
<table border="0" cellpadding="0" cellspacing="0" id="paso3">
    <tr>
        <td>
            <div class="numberCircle">
                3</div>
        </td>
        <td style="padding: 10px">
            <h2 style="margin: 0px; padding: 0px;">
                Confime las tarifas para la reservación</h2>
        </td>
    </tr>
</table>
<br />
@if (Model != null)
{

    int __days = ViewBag.Days;
    decimal __comisionh = new decimal();
    decimal __factura = new decimal();
    decimal __margenrm = new decimal();
    decimal __gadmon = new decimal();
    decimal __facturab = new decimal();
    decimal __agente = new decimal();
    decimal __venta = new decimal();
    decimal __margen = new decimal();
    decimal __pmargen = new decimal();
    
    <h3>
        Total Precio Por Noche:
    </h3>
    <table border="0" cellpadding="0" cellspacing="0" class="table">
        <tr>
            <th>
                Habitación
            </th>
            <th>
                Tarifa Rack PPN Hotel
            </th>
            <th>
                Comision Hotel
            </th>
            <th>
                Tarifa Neta PPN
            </th>
            <th>
                Margen Reg M
            </th>
            <th>
                Factura
            </th>
            <th>
                + G. Admon
            </th>
            <th>
                Factura Bruta
            </th>
            <th>
                - Agente
            </th>
            <th>
                Venta Neta
            </th>
            <th>
                Margen
            </th>
            <th>
                Margen %
            </th>
            <th>
                Diferencia Vs Hotel
            </th>
        </tr>
        @foreach (var __item in Model.ReservationRoom.Select(x => x.RoomOcupation).Distinct())
        {

            __comisionh = __item.PriceRack - __item.Price;
            __comisionh = __comisionh / __item.PriceRack * 100;
            __factura = __item.PriceRack - (__item.PriceRack * ((decimal)Model.Discount / 100));
            __margenrm = ((__factura - __item.Price) / __factura) * 100;
            __gadmon = __factura * ((decimal)Model.PercentAdmin / 100);
            __facturab = __factura + __gadmon;
            __agente = __factura * ((decimal)Model.PercentAgent / 100);
            __venta = __facturab - __agente;
            __margen = __venta - __item.Price;
            __pmargen = (__margen / __item.Price) * 100;
        
        
            <tr>
                <td>
                    <b>@__item.Room.Name</b> @__item.Name
                </td>
                <td>@Math.Round(__item.PriceRack, 2)
                </td>
                <td>
                    @Math.Round(__comisionh, 2) %
                </td>
                <td>@Math.Round(__item.Price, 2)
                </td>
                <td>
                    @Math.Round(__margenrm, 2) %
                </td>
                <td>@Math.Round(__factura, 2)
                </td>
                <td>
                    @Math.Round(__gadmon, 2)
                </td>
                <td>
                    @Math.Round(__facturab, 2)
                </td>
                <td>@Math.Round(__agente, 2)
                </td>
                <td>@Math.Round(__venta, 2)
                </td>
                <td>@Math.Round(__margen, 2)
                </td>
                <td>@Math.Round(__pmargen, 2)
                </td>
                <td>@Model.Discount %
                </td>
            </tr>
        }
    </table>
    <h3>
        Total:
    </h3>
    <table border="0" cellpadding="0" cellspacing="0" class="table">
        <tr>
            <th>
                Habitación
            </th>
            <th>
                Ocupación
            </th>
            <th>
                Noches
            </th>
            <th>
                Tarifa Rack PPN Hotel
            </th>
            <th>
                Comision Hotel
            </th>
            <th>
                Tarifa Neta PPN
            </th>
            <th>
                Margen Reg M
            </th>
            <th>
                Factura
            </th>
            <th>
                + G. Admon
            </th>
            <th>
                Factura Bruta
            </th>
            <th>
                - Agente
            </th>
            <th>
                Venta Neta
            </th>
            <th>
                Margen
            </th>
            <th>
                Margen %
            </th>
            <th>
                Diferencia Vs Hotel
            </th>
        </tr>
        @foreach (var __item in Model.ReservationRoom.GroupBy(x => new { x.RoomOcupation, x.Childrens, x.Adults, x.Quantity }).Select(x => new { x.First().RoomOcupation, x.First().Quantity, Count = x.Count(), x.First().Adults, x.First().Childrens }))
        {

            __days = __item.Count;
            
            decimal __people = 1;
            decimal __occupation = __item.Adults.Value > 0 ? __item.Adults.Value : __item.Childrens.Value;


            __comisionh = ((__item.RoomOcupation.PriceRack - __item.RoomOcupation.Price) * __days * __occupation) * __people;
            __comisionh = (__comisionh / ((__item.RoomOcupation.PriceRack * __days * __occupation) * __people)) * 100;
            __factura = ((__item.RoomOcupation.PriceRack * __days * __occupation) * __people) - (((__item.RoomOcupation.PriceRack * __days * __occupation) * __people) * ((decimal)Model.Discount / 100));
            __margenrm = ((__factura - ((__item.RoomOcupation.Price * __days * __occupation)) * __people) / __factura) * 100;
            __gadmon = __factura * ((decimal)Model.PercentAdmin / 100);
            __facturab = __factura + __gadmon;
            __agente = __factura * ((decimal)Model.PercentAgent / 100);
            __venta = __facturab - __agente;
            __margen = __venta - ((__item.RoomOcupation.Price * __days) * __people * __occupation);
            __pmargen = (__margen / ((__item.RoomOcupation.Price * __days) * __people * __occupation) * 100);

    
            <tr>
                <td>
                    <b>@__item.RoomOcupation.Room.Name</b> @__item.RoomOcupation.Name
                </td>
                <td>
                    @if (__item.RoomOcupation.Name.ToLower().Contains("niño"))
                    {
                        <span>-</span>
                    }
                    else
                    {
                        <p>
                            Adultos: @__item.Adults
                            <br />
                            Niños: @__item.Childrens
                        </p>
                    }
                </td>
                <td>
                    @__item.Count
                </td>
                <td>@Math.Round(((__item.RoomOcupation.PriceRack * __days) * __people) * __occupation, 2)
                </td>
                <td>
                    @Math.Round(__comisionh, 2) %
                </td>
                <td>@Math.Round(((__item.RoomOcupation.Price * __days) * __people) * __occupation, 2)
                </td>
                <td>
                    @Math.Round(__margenrm, 2) %
                </td>
                <td>@Math.Round(__factura, 2)
                </td>
                <td>
                    @Math.Round(__gadmon, 2)
                </td>
                <td>
                    @Math.Round(__facturab, 2)
                </td>
                <td>@Math.Round(__agente, 2)
                </td>
                <td>@Math.Round(__venta, 2)
                </td>
                <td>@Math.Round(__margen, 2)
                </td>
                <td>@Math.Round(__pmargen, 2)
                </td>
                <td>@Model.Discount %
                </td>
            </tr>
        }
    </table>
    <br />    
    <p>
        <input type="submit" value="Crear Reservación" style="display: none;" id="save" />
    </p>
}
else
{ 
    <h3 class="red">
        @ViewBag.Error</h3>
}