@model RMS.Models.Promotion
@{
    ViewBag.Title = "Details";
}
<h2>
    Detalles de la Promoción</h2>
<fieldset>
    <legend>@Model.Room.Name (@Model.Room.Hotel.Name)</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.LowSeasonPrice)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.LowSeasonPrice)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.HighSeasonPrice)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.HighSeasonPrice)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.DateStart)
    </div>
    <div class="editor-field">
        @Html.Label(Model.DateStart.ToShortDateString())
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.DateEnd)
    </div>
    <div class="editor-field">
        @Html.Label(Model.DateEnd.ToShortDateString())
    </div>
        <div class="editor-label">
        @Html.LabelFor(model => model.MinAdults)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.MinAdults)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.MinDays)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.MinDays)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Active)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Active)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
