@model RMS.Models.Promotion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Promotion</legend>

    <div class="display-label">Room</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room.Name)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">LowSeasonPrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LowSeasonPrice)
    </div>

    <div class="display-label">HighSeasonPrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HighSeasonPrice)
    </div>

    <div class="display-label">DateStart</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateStart)
    </div>

    <div class="display-label">DateEnd</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEnd)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
