@model RMS.Models.Promotion
@{
    ViewBag.Title = "Editar Promoción";
}
<h2>
    Editar Promoción:</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Model.Room.Name (@Model.Room.Hotel.Name)</legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IdRoom)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LowSeasonPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LowSeasonPrice)
            @Html.ValidationMessageFor(model => model.LowSeasonPrice)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.HighSeasonPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HighSeasonPrice)
            @Html.ValidationMessageFor(model => model.HighSeasonPrice)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DateStart)
        </div>
        <div class="editor-field">
            @Html.TextBox("DateStart", Model.DateStart.ToShortDateString(), new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.DateStart)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DateEnd)
        </div>
        <div class="editor-field">
            @Html.TextBox("DateEnd", Model.DateEnd.ToShortDateString(), new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.DateEnd)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Volver al listado", "Index", new { IdRoom = Model.IdRoom })
</div>
