@model RMS.Models.Hotel
@{
    ViewBag.Title = "Eliminar Hotel";
}
<h2>
    Eliminar @Model.Name</h2>
<h3>
    Esta seguro de querer borrar este hotel?</h3>
<fieldset>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>
    <div class="display-label">
        Contact</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>
    <div class="display-label">
        State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State.Name)
    </div>
    <div class="display-label">
        Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
    <div class="display-label">
        CanSell</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CanSell)
    </div>
    @*
    <div class="display-label">TripAdvisor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripAdvisor)
    </div>

    <div class="display-label">TripAdvisorEng</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripAdvisorEng)
    </div>

    <div class="display-label">Map</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Map)
    </div>*@
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Eliminar" />
        |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}
