<div class="editor-label">
    Habitaciones
</div>
<div class="editor-field">
    <table border="0" cellpadding="0" cellspacing="0">
        @foreach (RMS.Models.Room item in (IQueryable<RMS.Models.Room>)ViewBag.Rooms)
        {
            int counter = 0;
            <tr>
                <td>
                    <input type="checkbox" id="@item.Id" name="Rooms[@counter].IdRoom" value="@item.Id"  />
                    @item.Name
                </td>
                <td>
                    Adultos:&nbsp;
                    <select name="Rooms[@counter].Adultos">
                        @for (int i = 1; i <= item.Capacity; i++)
                        {
                            <option value="@i">@i</option>    
                        }
                    </select>
                </td>
                <td>
                    Infantes:
                    <select name="Rooms[@counter].Infantes">
                        @for (int j = 0; j <= 3; j++)
                        {
                            <option value="@j">@j</option>    
                        }
                    </select>
                </td>
            </tr>
                        counter = counter + 1;
        }
    </table>
</div>
