@model RMS.Models.Reservation
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt">
    <img src="http://localhost:25611/Content/images/header.png" width="500" alt="Regional Marketing" />
    <br />
    <br />
    <br />
    <h2>
        <b>@Model.ReservationStatus.Name</b></h2>
    <br />
    <table border="0" cellpadding="0" cellspacing="0" style="border: solid 1px #e8eef4;
        border-collapse: collapse; width: 100%;">
        <tr>
            <th style="padding: 6px 5px; text-align: center; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Fecha de Creación / Creation Date
            </th>
            <th style="padding: 6px 5px; text-align: center; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Llegada / Arrival
            </th>
            <th style="padding: 6px 5px; text-align: center; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Salida / Departure
            </th>
            <th style="padding: 6px 5px; text-align: center; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Adultos / Adults
            </th>
            <th style="padding: 6px 5px; text-align: center; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Niños / Childrens
            </th>
        </tr>
        <tr>
            <td style="padding: 5px; border: solid 1px #e8eef4; text-align: center;">@Model.ReservationDate.ToShortDateString()
            </td>
            <td style="padding: 5px; border: solid 1px #e8eef4; text-align: center;">@Model.Arrival.ToShortDateString()
            </td>
            <td style="padding: 5px; border: solid 1px #e8eef4; text-align: center;">@Model.Departure.ToShortDateString()
            </td>
            <td style="padding: 5px; border: solid 1px #e8eef4; text-align: center;">@Model.Adults
            </td>
            <td style="padding: 5px; border: solid 1px #e8eef4; text-align: center;">@Model.Childrens
            </td>
        </tr>
    </table>
    <br />
    <br />
    <h3>
        <b>Datos del Cliente / Customer Information</b></h3>
    <table border="0" cellpadding="0" cellspacing="0" style="border: solid 1px #e8eef4;
        border-collapse: collapse; width: 100%;">
        <tr>
            <th style="padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Nombre / Name:
            </th>
            <th style="padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Cédula / Passport:
            </th>
            <th style="padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Télefono / Phone:
            </th>
        </tr>
        <tr>
            <td style="padding: 5px; border: solid 1px #e8eef4;">@Model.Customer.Name @Model.Customer.LastName
            </td>
            <td style="padding: 5px; border: solid 1px #e8eef4;">@Model.Customer.PersonalId
            </td>
            <td style="padding: 5px; border: solid 1px #e8eef4;">@Model.Customer.Phone
            </td>
        </tr>
    </table>
    <br />
    <br />
    <h3>
        <b>Estadía / Stay</b></h3>
    <table border="0" cellpadding="0" cellspacing="0" style="border: solid 1px #e8eef4;
        border-collapse: collapse; width: 100%;">
        <tr>
            <th style="padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Hotel
            </th>
            <th style="padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Habitación / Room
            </th>
            <th style="padding: 6px 5px; text-align: left; background-color: #e8eef4; border: solid 1px #e8eef4;
                font-weight: 700">
                Capacidad Max. / Max. Capacity
            </th>
        </tr>
        @foreach (var item in Model.Room)
        {
            <tr>
                <td style="padding: 5px; border: solid 1px #e8eef4;">@item.Hotel.Name
                </td>
                <td style="padding: 5px; border: solid 1px #e8eef4;">@item.Name
                </td>
                <td style="padding: 5px; border: solid 1px #e8eef4;">@item.Capacity
                </td>
            </tr>
        }
    </table>
    <br />
    <br />
    <center>
        <b style="padding: 20px; text-align: center; background-color: #e8eef4; border: solid 1px #e8eef4;
            font-size: 12pt">Precio Total / Total Price: Bs. @Math.Round(Model.Price, 2)</b>
    </center>
</body>
</html>
